body{
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: cardAnimation 1s ease-in-out ;
}

@keyframes cardAnimation {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}
h1{
    color: #0d2250;
    font-size: 32px;
    opacity: 1;
}
.poll{
    margin-top: 20px;
}
h2{
    color:#0d2250;
    font-size: 30px;
}
.options{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.option{
    margin-bottom: 10px;
    color: black;
    }
.option :hover{
          background-color: pink;
          color:#FFFFFF;
    }
 input[type="radio"]{
     display: none;
 }   

 label{
     display: inline-block;
     background-color: hwb(197 50% 5%);
     padding: 10px;
     border-radius: 10px;
     cursor: pointer;
     transition: background-color 0.3s;

 }

.option input[type="radio"]:checked +label{
    color: crimson;
    background-color: antiquewhite;
}

button{
   background-color: aliceblue;
   padding: 10px 20px;
   border: none;
   margin-top: 20px;
   border-radius: 5px;
   transition: background-color 0.3s;
}
button:hover{
    background-color: rgb(245, 170, 185);
}
#result{
    margin-top: 20px;
    font-size: 20px;
    color:#ff1493;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option-result{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width:100%;
}
.option_text{
    flex:1;
}

